.button {
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    font-weight: 600;
    &.primary {
        background-color: green;
        color: white
    }
    &.secondary {
        background-color: white;
        color: black;
    }
}