.button {
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    font-weight: 600;
    border: 2px solid;
    transition: background .3s ease;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    &.primary {
        background-color: green;
        color: white;
        border-color: green;
        &:hover {
            background-color: white;
            color: green;
        }
    }
    &.secondary {
        background-color: white;
        color: var(--color-text);
        border-color: white;
        &:hover {
            background-color: var(--color-text);
            color: white;
        }
    }
}