@import url("./_variables.css");
.contact {
  > header {
    padding: 2rem 0;
    h2 {
      color: var(--color-primary);
      font-size: 2rem;
      margin-bottom: 0.75rem;
    }
    span {
      font-size: 0.9rem;
      color: var(--color-text);
    }
  }
  > main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
    > * {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 400px;
    }
    article {
      > section {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 2rem;
        > button {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          background-color: white;
          .icon-container {
            background-color: #1ba74c1a;
            padding: 0.25rem;
            border-radius: 0.25rem;
            color: var(--color-primary);
            font-size: 1.1rem;
          }
          .action {
            color: var(--color-primary);
            margin-left: auto;
            font-size: 0.9rem;
          }
        }
        > form {
          background-color: white;
          border-radius: 0.5rem;
          padding: 1.5rem 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h4 {
            font-size: 1.25rem;
          }
          > .field-wrapper {
            > .input {
              border: none;
              background-color: #f2f0e6;
              padding: 0.75rem 1rem;
              border-radius: 0.25rem;
              width: 100%;
              outline: none;
              &.error {
                outline: 1px solid rgba(255, 0, 0, 0.572);
              }
              &::placeholder {
                font-size: 0.9rem;
                color: #5f6a7080;
              }
            }
            &:focus-within{
              > *:first-child{
                outline: 2px solid var(--color-primary);
              }
            }
            > textarea {
              resize: none;
              height: 125px;
            }
            .tooltip {
              margin-top: 4px;
              font-size: 12px;
              color: #ff4d4f;
              background: #ffeaea;
              padding: 4px 8px;
              border-radius: 4px;
              width: fit-content;
            }
          }
          > button {
            padding: 0.75rem;
            border-radius: 0.35rem;
            background-color: var(--color-primary);
            color: white;
            font-weight: 600;
            font-size: 0.9rem;
            &:hover {
              filter: brightness(1.1);
            }
          }
        }
      }
      > .contact-whatsapp {
        background-color: #25d366;
        width: 100%;
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 2dvh;
        padding: 0.5rem;
        border-radius: 3rem;
        color: white;
        margin: 0 auto;
        > span {
          text-wrap: nowrap;
        }
      }
    }
    aside {
      h4 {
        margin-bottom: 1rem;
        color: var(--color-text);
      }
      img {
        max-height: 60dvh;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      iframe {
        margin: 0;
        width: 100%;
        border: none;
        outline: 2px solid var(--color-primary-50);
        border-radius: .5rem;
      }
    }
  }
}
