@import url("./_variables.css");

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.homeInfo {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  gap: 2rem;
  margin: 1.5rem 0 2rem;
  padding: 2rem 0;
  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 1.5rem;
    }
    span {
      align-items: center;
      text-wrap: pretty;
      max-width: 80%;
      text-align: center;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .homeInfo-reasons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      article {
        flex: 1;
        flex-basis: 400px;
        border: var(--card-border);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        padding: 1rem 0.5rem;
        .icon {
          color: var(--color-primary);
          font-size: 2rem;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        p {
          font-weight: 600;
        }
      }
    }
    .homeInfo-projects {
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
      header {
        text-align: center;
        h3 {
          font-size: 1.5rem;
        }
      }
      main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem 1.25rem;
        margin: 0 auto;
        width: 80%;
      }
      footer {
        width: 100%;
        display: flex;
        justify-content: center;

        padding-top: 2rem;
      }
    }
  }
  .homeInfo-start {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    h2 {
      text-align: center;
      font-size: 2.5rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
