@import url("./_variables.css");
.image-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
  top: 0;
  left: 0;
  z-index: 50;
  .image-modal-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005f;
  }
  .image-modal-content {
    z-index: 60;
    max-height: 80dvh;
    max-width: 80dvw;
    position: relative;
    display: flex;
    gap: 1rem;
    > aside {
      max-width: 80px;
      max-height: 60dvh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      scrollbar-width: thin;
      scrollbar-color: var(--color-text) transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-text);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary-dark, #555);
      }
      button {
        aspect-ratio: 1;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 1rem;
        border: 3px dashed transparent;
        /* flex: 1; */
        flex-shrink: 0;
        &.active {
          border-color: var(--color-primary);
        }
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
    > article {
      height: 60dvh;
      width: 70dvw;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* width: 100%; */
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      header {
        position: absolute;
        bottom: 102%;
        display: flex;
        gap: 1rem;
        align-self: flex-start;
        > button {
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          font-weight: 600;
          background-color: var(--color-background);
          border: 2px solid transparent;
          transition:
            0.3s ease background,
            0.3s ease scale;
          scale: 1.05;
          &.active {
            background-color: var(--color-text);
            color: var(--color-background);
            scale: 1;
          }
        }
      }
    }
  }
}
