.productCategories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0 3rem;

  .productCategories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  header {
    height: 30dvh;
    cursor: auto;
    pointer-events: none;
    img {
      height: 100%;
    }
    span {
      font-size: 1.5rem;
    }
  }
}

.categorie {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
  img {
    height: 20dvh;
    width: 100%;
    object-fit: cover;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    background: linear-gradient(180deg, #ffffff00 0%, #0d0d0d60 100%);
    height: 100%;
    width: 100%;
  }
  span {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    z-index: 100;
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }
}
