@import url("./_variables.css");
.project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  nav {
    a {
      display: flex;
      gap: 1rem;
      align-items: center;
      color: var(--color-grey-text);
      transition: 0.3s ease color;
      &:hover {
        color: var(--primary-color-50);
      }
      svg {
        width: 1.25rem;
      }
      p {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
  header {
    position: relative;
    min-height: 40dvh;
    display: flex;
    margin-bottom: 1.5rem;
    margin: 0 -1rem;
    img {
      position: absolute;
      height: 100%;
      width: 150%;
      object-fit: cover;
    }
    div {
      position: absolute;
      background: #fff;
      background: linear-gradient(180deg, #ffffff00 0%, #00000082 100%);
      height: 100%;
      width: 100%;
      z-index: 10;
    }
    h3 {
      font-size: 2rem;
      position: relative;
      font-weight: bolder;
      color: white;
      z-index: 10;
      margin-top: auto;
      padding: 1rem;
      z-index: 20;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    section.info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.25rem;
        text-wrap: pretty;
        color: #00000082;
        font-weight: 500;
      }
    }
    > div {
      display: grid;
      grid-template-columns: 2fr minmax(300px, 1fr);
      gap: 2rem;
    }
    section.details {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
      article {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        > h5 {
          display: flex;
          gap: 0.75rem;
          font-size: 1.15rem;
          align-items: center;
          margin-bottom: 0.5rem;
          span {
            background-color: #fee2e2;
            font-size: 1rem;
            color: #dc2626;
            border-radius: 50%;
            font-family: "Roboto";
            width: 1.8rem;
            height: 1.8rem;
            display: grid;
            place-content: center;
          }
          span.success {
            background-color: rgb(220 252 231);
            color: #16a34a;
          }
        }
        > span {
          color: #00000082;
          font-weight: 500;
        }
      }
      article.results {
        border-left: 4px solid var(--color-primary);
        background-color: #fbfaf9;
        grid-column: span 2;
      }
    }
    section.specfication {
      background-color: white;
      border-radius: 1rem;
      padding: 0.5rem 2rem 1.5rem;
      flex-basis: 500px;
      > h6 {
        font-size: 1.25rem;
        padding: 1rem 0;
        border-bottom: 1px solid var(--muted-text);
      }
      aside {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--muted-text);
        article {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: var(--color-grey-text);
          span {
            font-size: 0.9rem;
          }
          p {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-weight: bold;
            color: #808080;
          }
        }
      }
      footer {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h6 {
          font-size: 0.9rem;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          > article {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.9rem;
            color: #00000082;
            font-weight: 500;
            svg {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .project-details main {
    > div {
      grid-template-columns: 1fr;
    }
    section.details {
        display: flex;
        flex-direction: column;
    }
  }
}
