.render {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blur {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.621);
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
